*{
    background-color: #FBE9E7;
}
#input,#output{
    
    width: 30%;
    height: 250px;
    margin-left: 35%;
    font-size: larger;
    border: 5px solid black;
    font-weight: bolder;
    padding:1%;
}
#inp_val,#out_val{
    margin :10px 0 5px 0;
    
    font-size: larger;
    background-color: silver;
    
}
#h{
    text-align: center;
}
#btn{
    width: 7%;
    padding: 5px;
    border-radius: 5px;
    margin :0 0 5px 0;
    cursor: pointer;
    font-size: medium;
    margin-left: 7.9%;
}
span{
    margin-left: 35%;
}
#btn:hover{
    background-color: black;
    color: white;
}